body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;

}
header {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    padding: 60px;


}
section {
    background : white;
    margin: 20px;
    padding:20px;
    border-radius:10px;
}
h2{
    color:#764ba2;
}

